#totalSales {
    color: green;
    font-size: xxx-large;
    font-weight: bold;
}

#totalInventory {
    color: blue;
    font-size: xxx-large;
    font-weight: bold;
}

#tvsToSell {
    color: red;
    font-size: xxx-large;
    font-weight: bold;
}

#tvInformation {
    white-space: pre;
}